section.about-container {
  position: relative;
  z-index: 20;
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 0 60px;
  margin: 0 auto;
  margin-bottom: 120px;
}

div.about-context {
  margin-top: 320px;
}

div.about-context > h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 80px;
}

div.about-context div.text {
  /* width: 840px; */
  width: 80%;
  margin: 0 auto;
}

div.about-context div.text > p {
  margin-bottom: 30px;
}

@media (max-width: 576px) {
  section.about-container {
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
  }

  div.about-context {
    margin-top: 80px;
  }
}
