footer.footer {
  position: relative;
  z-index: 20;

  width: 100%;
  height: 380px;

  background-image: url("../../images/bg-rodape.png");
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: contain;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

img.icon-logo {
  width: 100%;
  max-width: 120px;
  margin-bottom: 30px;
}

div.distributor {
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  background-color: #fcd21b;
}

@media (max-width: 768px) {
  footer.footer::before {
    content: "";
    width: 100%;
    height: 200px;
    background-color: #fcd21b;
    z-index: -10;
    position: absolute;
  }
}

@media (max-width: 576px) {
  footer.footer::before {
    content: "";
    width: 100%;
    height: 300px;
    background-color: #fcd21b;
    z-index: -10;
    position: absolute;
  }
}
